<nz-layout>
        <div nz-row id="header" >
            <div class="logo">
              
              <div class="marca">
                <h1>HOLA</h1>
              </div>

              <div class="redes">
                <a href="">  <i class="icono" nz-icon nzType="instagram"></i></a>

                <a href=""> <i class="icono" nz-icon [nzIconfont]="'icon-facebook'"></i> </a>

                <a href=""> <i class="icono" nz-icon [nzIconfont]="'icon-twitter'"></i>  </a>            
                 
                           
              </div>

            </div>

            <div class="menu" > 
              
                <ul class="lista" nz-menu nzMode="horizontal">
                    <li nz-menu-item >
                      <i nz-icon nzType="fire"></i>
                      Todos
                    </li>  
                    
                    <li nz-menu-item >
                      <i nz-icon nzType="smile"></i>
                      Trenzas
                    </li>    

                    <li nz-menu-item >
                      <i nz-icon nzType="alert"></i>
                      Colores
                    </li>    

                    <li nz-menu-item >
                      <i nz-icon nzType="like"></i>
                      Mas puntuados
                    </li>    
           
                </ul>

            </div>

        </div>

        <div class="contenido">

            <nz-card nzHoverable style="width:240px; padding-top: 20px;" [nzCover]="coverTemplate">
              <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
              <nz-rate [ngModel]="0"></nz-rate>
            </nz-card>
            <ng-template #coverTemplate>
              <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />              
            </ng-template>

            <nz-card nzHoverable style="width:240px; padding-top: 20px;" [nzCover]="coverTemplate">
                <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
                <nz-rate [ngModel]="0"></nz-rate>
              </nz-card>
              <ng-template #coverTemplate>
                <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />              
              </ng-template>

              
              <nz-card nzHoverable style="width:240px; padding-top: 20px;" [nzCover]="coverTemplate">
                  <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
                  <nz-rate [ngModel]="0"></nz-rate>
                </nz-card>
                <ng-template #coverTemplate>
                  <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />              
                </ng-template>

                
                <nz-card nzHoverable style="width:240px; padding-top: 20px;" [nzCover]="coverTemplate">
                    <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
                    <nz-rate [ngModel]="0"></nz-rate>
                  </nz-card>
                  <ng-template #coverTemplate>
                    <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />              
                  </ng-template>

                  
                  <nz-card nzHoverable style="width:240px; padding-top: 20px;" [nzCover]="coverTemplate">
                      <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
                      <nz-rate [ngModel]="0"></nz-rate>
                    </nz-card>
                    <ng-template #coverTemplate>
                      <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />              
                    </ng-template>

                    
                    <nz-card nzHoverable style="width:240px; padding-top: 20px;" [nzCover]="coverTemplate">
                        <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
                        <nz-rate [ngModel]="0"></nz-rate>
                      </nz-card>
                      <ng-template #coverTemplate>
                        <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />              
                      </ng-template>

                      
                      <nz-card nzHoverable style="width:240px; padding-top: 20px;" [nzCover]="coverTemplate">
                          <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
                          <nz-rate [ngModel]="0"></nz-rate>
                        </nz-card>
                        <ng-template #coverTemplate>
                          <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />              
                        </ng-template>
            


            

      

                          
                     
        </div>

        <nz-back-top></nz-back-top>
     
        <div class="footer">
           
        </div>

  </nz-layout>






 
