<nz-layout>
        <div nz-row id="header" >
            <div class="logo">
              
              <div class="marca">
                <!-- <a href=""> <img src="../assets/yk.png" alt=""> </a>               -->
              </div>

              <div class="redes">

                <!-- <a class="raise" style="padding-left: 25px;" href="" nzTooltipTitle="instagram" nzTooltipPlacement="topLeft" nz-tooltip><i class="icono" nz-icon nzType="instagram"></i></a>

                <a class="raise" style="padding-left: 25px;" href=""  nzTooltipTitle="facebook" nzTooltipPlacement="topLeft" nz-tooltip> <i class="icono" nz-icon [nzIconfont]="'icon-facebook'"></i> </a>   

                <a class="raise" style="padding-left: 25px;" nzTooltipTitle="dejame tu comentario" nzTooltipPlacement="topLeft" nz-tooltip (click)="showModal()"> <i class="icono" nz-icon nzType="mail" nzTheme="fill"></i> </a>          -->
           
              </div>

            </div>

            <div class="navbar" > 

                <ul id="menu">
                    <li><a href="#">Todos</a></li>      
                    <li><a href="#">Trenzas</a></li>
                    <li><a href="#">Colores</a></li>
                    <li><a href="#">Peinados</a></li>
                    <li><a href="#">Favoritos</a></li>
                    <li><a href="#">Acerca de mi</a></li>                 
                </ul>
            </div>

        </div>

        <div class="contenido">

          <nz-card nzHoverable style="width:240px; padding-top: 20px;" [nzCover]="coverTemplate">
            <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
            <nz-rate [ngModel]="0"></nz-rate>
          </nz-card>
          <ng-template #coverTemplate>
            <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />              
          </ng-template>

          <nz-card nzHoverable style="width:240px; padding-top: 20px;" [nzCover]="coverTemplate">
              <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
              <nz-rate [ngModel]="0"></nz-rate>
            </nz-card>
            <ng-template #coverTemplate>
              <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />              
            </ng-template>

              
          <nz-card nzHoverable style="width:240px; padding-top: 20px;" [nzCover]="coverTemplate">
              <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
              <nz-rate [ngModel]="0"></nz-rate>
            </nz-card>
            <ng-template #coverTemplate>
              <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />              
            </ng-template>

          
          <nz-card nzHoverable style="width:240px; padding-top: 20px;" [nzCover]="coverTemplate">
              <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
              <nz-rate [ngModel]="0"></nz-rate>
            </nz-card>
            <ng-template #coverTemplate>
              <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />              
            </ng-template>

              
          <nz-card nzHoverable style="width:240px; padding-top: 20px;" [nzCover]="coverTemplate">
              <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
              <nz-rate [ngModel]="0"></nz-rate>
            </nz-card>
            <ng-template #coverTemplate>
              <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />              
            </ng-template>

                
          <nz-card nzHoverable style="width:240px; padding-top: 20px;" [nzCover]="coverTemplate">
              <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
              <nz-rate [ngModel]="0"></nz-rate>
            </nz-card>
            <ng-template #coverTemplate>
              <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />              
            </ng-template>

                      
          <nz-card nzHoverable style="width:240px; padding-top: 20px;" [nzCover]="coverTemplate">
              <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
              <nz-rate [ngModel]="0"></nz-rate>
            </nz-card>
            <ng-template #coverTemplate>
              <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />              
            </ng-template>

           
                     
        </div>

        <div class="comentario">
            <nz-list *ngIf="data.length" [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
                <ng-template #item let-item>
                  <nz-comment [nzAuthor]="item.author" [nzDatetime]="item.displayTime">
                    <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
                    <nz-comment-content>
                      <p>{{ item.content }}</p>
                    </nz-comment-content>
                  </nz-comment>
                </ng-template>
              </nz-list>
              <nz-comment>
                <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
                <nz-comment-content>
                  <nz-form-item>
                    <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
                  </nz-form-item>
                  <nz-form-item>
                    <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">
                      Add Comment
                    </button>
                  </nz-form-item>
                </nz-comment-content>
              </nz-comment>

        </div>

        <nz-back-top></nz-back-top>
     
        <div class="footer">
         © 2019 Copyright carlos yk                     
        </div>

  </nz-layout>








 
